
/* Your CSS Code here. *//* Style for the main element */
main.accio#job {
  width: 150px;
  height: 150px;
  background-color: #000000; /* Black */
}

/* Style for the paragraph inside the main */
.hello-accio {
  color: #ffffff;         /* White text */
  margin-left: 32px;
  padding: 10px;
}
